<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.defy.chicken.lover"
          android:versionCode="1"
          android:versionName="1.1">
    <!-- 단말기 켜졌는지 감지 -->
    <uses-permission android:name="android.permission.BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/> <!-- 내장 외장 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE"/> <!-- 인터넷 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/> <!-- 푸시 위함 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/> <!-- 사진 -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <permission android:name="android.permission.STATUS_BAR_SERVICE"/>

    <application
            android:name=".GlobalApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">
        <activity
                android:name=".view.SplashActivity"
                android:screenOrientation="portrait"
                android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".view.MainActivity"
                android:launchMode="singleTop"
                android:windowSoftInputMode="adjustPan"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".view.SelectFavoriteBrandActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".view.SelectFavoriteTypeActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".view.ChickenInfoActivity"
                android:screenOrientation="portrait"
                android:theme="@style/SharedElementTransitionTheme"/>
        <activity
                android:name=".view.PermissionActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".view.JoinActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".view.LoginActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".view.WriteActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".view.ArticleActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".view.SearchChickenInfoActivity"
                android:screenOrientation="portrait"
                android:theme="@style/SharedElementTransitionTheme"/>
        <activity
                android:name=".view.SelectChickenTypeActivity"
                android:screenOrientation="portrait"/>
        <provider
                android:name="com.werb.pickphotoview.provider.PickProvider"
                android:authorities="${applicationId}.provider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/pick_file_paths"/>
        </provider>
    </application>

</manifest>